client/src/jquery/*
client/build/*
client/node_modules/*
correspondance/*
client/src/materializeSASS/*
database/skills - Copy*
database/.netrc
database-backups/*

client/src/ffxiv-rotations.d.ts
client/src/db.js
client/src/ffxiv-rotations.css
client/src/ffxiv-rotations.js

package-lock.json

*.js.map
*.css.map
notes.txt
server/
backups/
node_modules/